@model IEnumerable<Evoting_Application.Models.CandidateDetail>

@{
    ViewBag.Title = "SearchCandiate";
}

<h2>Search Candiate</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VoterID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepresentingParty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoteNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VoterID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepresentingParty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoteNumber)
        </td>
       
    </tr>
}

</table>
