@model Evoting_Application.Models.Registration

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Your Account Details</h2>
<head>
    <link rel="stylesheet" href="~/Content/EditAccountDetail.css">
</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-div">
        <div class="form-inside">

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control,space-btw" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control, space-btw" } })
                        @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="SAVE" class="registration-btn btn edit-text"  />
                    </div>
                </div>
            </div>
        </div>
    </div>

}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
